#
# Better Auth
#
BETTER_AUTH_SECRET=your-secret-here
BETTER_AUTH_URL=http://localhost:3000

# 
# Files
# 
NUXT_FILES_BUCKET='flower'
NUXT_FILES_ENDPOINT='http://localhost:9000'
NUXT_FILES_ACCESS_KEY_ID='minioadmin'
NUXT_FILES_SECRET_ACCESS_KEY='minioadmin'
NUXT_FILES_REGION='auto'