#
# better auth
#
BETTER_AUTH_URL='http://localhost:3000'
# generate using openssl rand -base64 32
BETTER_AUTH_SECRET='my-super-secret'

# 
# file storage
# 
NUXT_AWS_BUCKET='flower'

# 
# aws s3
# 
# minio example
AWS_REGION='auto'
AWS_ACCESS_KEY_ID='minioadmin'
AWS_SECRET_ACCESS_KEY='minioadmin'
AWS_ENDPOINT_URL='http://localhost:9000'